body {
	margin: 0px;
    text-align: center;
	background-color: #0CE810;
}
header{
	height: 50px;
}
#kontener {
    height: 575px;
}
footer {
    background-color: #048ABF;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a {
    text-decoration: none;
	font-family: italic;
    font-size: 25px;
    color: #0D0D0D;
}
h1{
	font-size: 50px;
	margin: 0px;
}
input, button {
	width: 50%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #0D0D0D;
	border-radius: 4px;
}
#srodek{
	width: 600px;
	height: 200px;
	margin:auto;
	margin-top: 100px;
	background-color: #D3CBE8;
	padding: 20px;
	border: 2px solid #0D0D0D;
}
button {
	background-color: #E62A15;
	color: #F2F2F2;
}
